#loader{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#Receipt_Image{
    width: 100%;
    height: auto;
    display: block;
}

#receipt_step{
    margin-Bottom: 10px;
    padding-Left: 10px; 
}