#root{
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #f4f7f6;
  color: #333;
  display: flex;
  min-height: 100vh;
}

.app-container {
  text-align: center;
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

h1 {
  color: #007aff;
}

#cont{
  position: relative;
}

.pages{
  text-align: center;
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

#navigation{
  top: 0;
  position: sticky;
  width: 100%;
  background-color: #007aff ;
  border-radius: 0 0 30px 30px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navigation a{
  text-decoration: none;
  font-weight: 700;
  color: #ffda0b;
  font-size: 20px;
}